doctype html
html
    head
        title Logs
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        style
            include ../stylesheets/style.css
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

        body
        div.container
            block content
